# Translations
GenericName[eu]=LxQt Freedesktop jakinarazpenen konfigurazioa
Name[eu]=LxQt Freedesktop jakinarazpenen konfigurazioa
Comment[eu]=Konfiguratu LxQt mahaigaineko Freedesktop jakinarazpenak
