[Desktop Entry]
X-SuSE-translate=true
OnlyShowIn=LxQt;Razor;
Type=Application
Exec=lxqt-config-notificationd
Terminal=false
Categories=Settings;DesktopSettings;Qt;LxQt;
Icon=preferences-desktop-theme
Name=LxQt Freedesktop Notifications Configuration
Comment=Configure freedesktop notifications in LxQt desktop
GenericName=LxQt Freedesktop Notifications Configuration

#TRANSLATIONS_DIR=translations


# Translations
GenericName[de]=LxQt Konfigurations Center
Name[de]=LxQt Konfiguration
