# Translations
GenericName[uk]=Налаштування Freedesktop сповіщень LxQt
Name[uk]=Налаштування Freedesktop сповіщень LxQt
Comment[uk]=Налаштувати Freedesktop сповіщення в стільниці LxQt
