# Translations
GenericName[fi]=LxQt-työpöydän ilmoitusasetukset
Name[fi]=LxQt-työpöydän ilmoitusasetukset
Comment[fi]=Muokkaa LxQt-työpöydän ilmoituksia
