# Translations
GenericName[el_GR]=Διαμόρφωση ειδοποιήσεων LxQt
Name[el_GR]=Διαμόρφωση ειδοποιήσεων LxQt
Comment[el_GR]=Διαμόρφωση ειδοποιήσεων στην επιφάνεια εργασίας LxQt
