# Translations
GenericName[da_DK]=LxQt freedesktop Meddelelsesindstillinger
Name[da_DK]=LxQt freedesktop Meddelelsesindstillinger
Comment[da_DK]=Indstil freedesktop meddelelser på LxQt skrivebord
