# Translations
GenericName[pt]=Configuração das notificações do LxQt
Name[pt]=Configuração das notificações do LxQt
Comment[pt]=Configurar notificações do LxQt
