[Desktop Entry]
X-SuSE-translate=true
OnlyShowIn=LxQt;
Type=Application
Exec=lxqt-config-notificationd
Terminal=false
Categories=Settings;DesktopSettings;Qt;LxQt;
Icon=preferences-desktop-theme
Name=LxQt Freedesktop Notifications Configuration
Comment=Configure freedesktop notifications in LxQt desktop
GenericName=LxQt Freedesktop Notifications Configuration

#TRANSLATIONS_DIR=translations


# Translations
GenericName[ro_RO]=Părăsește
Name[ro_RO]=Părăsește sistemul
Icon[ro_RO]=preferences-desktop-theme
Comment[ro_RO]=Configurează notificările freedesktop în desktop-ul LxQt
