# Translations
GenericName[cs_CZ]=Nastavení oznamování v LxQtu
Name[cs_CZ]=Nastavení oznamování v LxQtu
Comment[cs_CZ]=Nastavit oznamování na ploše LxQt
