# Translations
GenericName[ru_RU]=Настройки уведомлений LxQt
Name[ru_RU]=Уведомления рабочего стола
Comment[ru_RU]=Настроить уведомления рабочего стола
