# Translations
GenericName[eo]=Agordoj de muso por LxQto
Name[eo]=Agordoj de muso por LxQto
Comment[eo]=Agordi atentigojn de freedesktop en LxQt-labortablo
