# Translations
GenericName[cs_CZ]=Nastavení oznamování v LXQtu
Name[cs_CZ]=Nastavení oznamování v LXQtu
Comment[cs_CZ]=Nastavit oznamování na ploše LXQt
