# Translations
GenericName[da_DK]=LXQt freedesktop Meddelelsesindstillinger
Name[da_DK]=LXQt freedesktop Meddelelsesindstillinger
Comment[da_DK]=Indstil freedesktop meddelelser på LXQt skrivebord
