# Translations
GenericName[de_DE]=Anwendungsmenü
Name[de_DE]=LxQt Freedesktop Mitteilungen Konfiguration
Comment[de_DE]=Freedesktop Mitteilungen für LxQt Desktop konfigurieren
