# Translations
GenericName[hu]=Az asztali értesítések beállítása
Name[hu]=LXQt értesítések beállítása
Comment[hu]=A felbukkanó értesítések beállítása
