# Translations
GenericName[el_GR]=Διαμόρφωση ειδοποιήσεων LXQt
Name[el_GR]=Διαμόρφωση ειδοποιήσεων LXQt
Comment[el_GR]=Διαμόρφωση ειδοποιήσεων στην επιφάνεια εργασίας LXQt
