# Translations
GenericName[pl_PL]=Konfiguracja wyglądu LxQt
Name[pl_PL]=Konfiguracja wyglądu LxQt
Comment[pl_PL]=Konfiguruj powiadomienia freedesktop w LxQt
