# Translations
GenericName[hu]=Az asztali értesítések beállítása
Name[hu]=LxQt értesítések beállítása
Comment[hu]=A felbukkanó értesítések beállítása
