# Translations
GenericName[ru_RU]=LxQt Настройка уведомлений Freedesktop
Name[ru_RU]=LxQt Настройка уведомлений Freedesktop
Comment[ru_RU]=Настроить уведомления freedesktop для рабочего стола LxQt
