# Translations
GenericName[es]=Administrador de tareas
Name[es]=Configuración de sesiones LXQt
Comment[es]=Configure las notificacionde de freedesktop en el escritorio LXQt
