# Translations
GenericName[es]=Configuracion de notificaciones de Escritorio LxQt
Name[es]=Configuracion de notificaciones de Escritorio LxQt
Comment[es]=Configure las notificacones en el Escritoro LxQt
