# Translations
GenericName[ru]=Меню программ
Name[ru]=Центр настроек LxQt
Comment[ru]=Yстановка свободный рабочий стол объявления нa Paзop  рабочий стол
