# Translations
GenericName[es]=Administrador de tareas
Name[es]=Configuración de sesiones LxQt
Comment[es]=Configure las notificacionde de freedesktop en el escritorio LxQt
