# Translations
GenericName[es_VE]=Configuracion de notificaciones de Escritorio LxQt
Name[es_VE]=Configuracion de notificaciones de Escritorio LxQt
Comment[es_VE]=Configura las notificacones en el Escritoro LxQt
