# Translations
GenericName[pl_PL]=Konfiguracja wyglądu LXQt
Name[pl_PL]=Konfiguracja wyglądu LXQt
Comment[pl_PL]=Konfiguruj powiadomienia freedesktop w LXQt
